<h1><%= @work.artist %></h1>
<h4>in <%= @work.location %></h4>

<h5><a href="<%= @work.link %>" target="_blank">image</a></h5>
<br>
<p>rate this work</p>
<div class="row">
  <div class="col-sm-1">
    <%= button_to '1', work_rate_path(@work), :class => '1' %>
  </div>
  <div class="col-sm-1">
    <%= button_to '2', work_rate_path(@work), :class => '2' %>
  </div>
  <div class="col-sm-1">
    <%= button_to '3', work_rate_path(@work), :class => '3' %>
  </div>
  <div class="col-sm-1">
    <%= button_to '4', work_rate_path(@work), :class => '4' %>
  </div>
  <div class="col-sm-1">
    <%= button_to '5', work_rate_path(@work), :class => '5' %>
  </div>
</div>

<br><br>
<%= link_to "Edit", edit_work_path %>
<br>
<%= link_to "Delete", work_path(@work),
                         :data => {:confirm => "Delete this post?",
                                   :method => "delete"} %>

<hr>
<p><%= link_to "all artists", works_path %></p>
